Options +FollowSymlinks

RewriteEngine on
RewriteRule   ^!(.*)?$ - [L]
RewriteRule   ^ajax.php(.*)$ - [L]
RewriteRule   ^error.php(.*)$ - [L]
RewriteRule   ^index.php(.*)$ - [L]
RewriteRule   ^install/(.*)$ - [L]
RewriteRule   ^(.*)$ index.php [L]